<!DOCTYPE html>
<html lang="en">

<body>
    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-6 col-md-12 col-sm-12 bg-color">
<div class="discover pt-1">Discover More Recipies<br>& More Cooks</div>
<div class="discover-describe mt-3">Lorem ipsum dolor sit amet consectetur adipisicing elit. Quas aut ab voluptatibus harum dolorum iusto.</div>
<div><img src="assets/images/Group.svg" class="discover-img mt-5"></div>            
</div>
         
<form [formGroup]="passwordform" (ngSubmit)="psSubmit()">
                <div class="col-lg-6 col-md-12 col-sm-12 bg-gray">
                <div class="details-box" style="margin-top: 25% !important;">
                    <div class="welcome pt-4">Reset Password</div>
                    <div class="welcome-describe pt-2">Please fill out your profile information</div>
                   
                    <div class="form-group">

                    <div class="required-field pt-5">Add New Password*</div>
                    <div><input type="password" formControlName="newPassword" class="form-control"
                        class="req-details-box mt-1" placeholder="Enter your Password"></div>
                        <div *ngIf="passwordform.controls['newPassword'].invalid && 
                         (passwordform.controls['newPassword'].dirty || passwordform.controls['newPassword'].touched)">
                            <div *ngIf="passwordform.controls['newPassword'].errors.required"></div>
                            <small class="text-danger pt-5">newpassword is required</small>
                        </div>
                   
                    <div class="required-field pt-4">Confirm Password*</div>
                    <div><input type="password" formControlName="confirmPassword" class="form-control"
                        class="req-details-box mt-1" placeholder="Enter your Password"></div>
                        <div *ngIf="passwordform.controls['confirmPassword'].invalid && 
                         (passwordform.controls['confirmPassword'].dirty || passwordform.controls['confirmPassword'].touched)">
                            <div *ngIf="passwordform.controls['confirmPassword'].errors.required"></div>
                            <small class="text-danger pt-5">confirmpassword is required</small>
                        </div>
                   
                    <a href="">
                        <button (click)="passwordbtn()" [disabled]="passwordform.invalid" 
                        type="button"class="join-button mt-4">Join</button></a>

                    <div class="sign-in mt-4">Back to
                         <a href="signin" class="link-sign">Sign in</a></div>
                    </div>
                 </div>
            </div>
        
        </form>
        </div>
    </div>

</body>
</html>