<!DOCTYPE html>
<html lang="en">

<body>
    <nav class="navbar navbar-expand-lg navbar-light">
        <div class="container mt-3">
          <a href="#" style="text-decoration: none;"><div class="title navbar-brand center">&nbsp; Test<span style="color: #32B768;">Food</span></div></a>
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0 mx-auto">
              <li class="nav-item">
                <a class="nav-link nav-txt" aria-current="page" href="#">HOME</a>
              </li>
              <li class="nav-item">
                <a class="nav-link nav-txt" aria-current="page" href="#">RECIPES</a>
              </li>
              <li class="nav-item">
                <a class="nav-link nav-txt" aria-current="page" href="#">ABOUT</a>
              </li>
              <li class="nav-item">
                <a class="nav-link nav-txt" aria-current="page" href="#">DOWNLOAD</a>
              </li>
            </ul>
            <div class="get-started-button cursor">Get Started</div>
          </div>
        </div>
      </nav>
    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-6 col-md-12 col-sm-12">
       <div class="main-heading mt-5 pt-5">Let's Start Cooking With Popular Recipes</div>
       <div class="main-description mt-4">Want to learn cook but confused how to start?<br>No need to worry again!</div>
       <div class="d-flex">
        <button class="main-button mt-5">Get started</button>
        <button class="explore-button mt-5">Explore Menu</button>
       </div>
            </div>
            <div class="col-lg-6 col-md-12 col-sm-12">
              <div><img src="assets/images/main-group.svg" class="w-100 mt-4"></div> 
            </div>
        </div>
    </div>
    
    <div class="container-fluid" style="background: #F8F9FB;margin-top: 12%;padding-bottom: 7%;">
<div class="receipe-heading pt-5">Popular Recipes</div>
<div class="receipe-description pt-3">Want to learn cook but confused how to start? <br>No need to worry again!</div>
<div class="container">
<div class="row">
    <div class="col-lg-4 col-md-6 col-sm-12 col-12" >
        <div class="food-box mt-5">
            <div class="dish-box mt-4">
                <a href="#"><img src="assets/images/chicken-dish.svg" class="w-100"
                        style="padding-left: 10%;"></a>
            </div>
            <div class="dish-name mt-3">Udon with chicken and garlic peanut dressing</div>
            <div class="dish-description mt-2">Lorem Ipsum is simply dummy text of the printing and
                typesetting..... </div>
            <hr class="mt-4 line">
            <div class="row">
                <div class="col-lg-6 col-md-6 col-sm-6 col-6">
                    <div class="d-flex" style="padding-left:10%;">
                        <div>
                            <img src="assets/images/clock.svg" style="margin-top: 20%;">
                        </div>
                        <div class="timing mt-2">&nbsp; 1 Hour</div>
                    </div>
                </div>
                <div class="col-lg-6 col-md-6 col-sm-6 col-6">
                    <img src="assets/images/star.svg">
                    <img src="assets/images/star.svg">
                    <img src="assets/images/star.svg">
                    <img src="assets/images/star.svg">
                    <img src="assets/images/empty-star.svg">
                </div>
            </div>
        </div>
    </div>
    <div class="col-lg-4 col-md-6 col-sm-12 col-12">
        <div class="food-box mt-5">
            <div class="dish-box mt-4">
                <a href="#"><img src="assets/images/chicken-dish.svg" class="w-100"
                        style="padding-left: 10%;"></a>
            </div>
            <div class="dish-name mt-3">Udon with chicken and garlic peanut dressing</div>
            <div class="dish-description mt-2">Lorem Ipsum is simply dummy text of the printing and
                typesetting..... </div>
            <hr class="mt-4 line">
            <div class="row">
                <div class="col-lg-6 col-md-6 col-sm-6 col-6">
                    <div class="d-flex" style="padding-left:10%;">
                        <div>
                            <img src="assets/images/clock.svg" style="margin-top: 20%;">
                        </div>
                        <div class="timing mt-2">&nbsp; 1 Hour</div>
                    </div>
                </div>
                <div class="col-lg-6 col-md-6 col-sm-6 col-6">
                    <img src="assets/images/star.svg">
                    <img src="assets/images/star.svg">
                    <img src="assets/images/star.svg">
                    <img src="assets/images/star.svg">
                    <img src="assets/images/empty-star.svg">
                </div>
            </div>
        </div>
    </div>
    <div class="col-lg-4 col-md-6 col-sm-12 col-12">
        <div class="food-box mt-5">
            <div class="dish-box mt-4">
                <a href="#"><img src="assets/images/chicken-dish.svg" class="w-100"
                        style="padding-left: 10%;"></a>
            </div>
            <div class="dish-name mt-3">Udon with chicken and garlic peanut dressing</div>
            <div class="dish-description mt-2">Lorem Ipsum is simply dummy text of the printing and
                typesetting..... </div>
            <hr class="mt-4 line">
            <div class="row">
                <div class="col-lg-6 col-md-6 col-sm-6 col-6">
                    <div class="d-flex" style="padding-left:10%;">
                        <div>
                            <img src="assets/images/clock.svg" style="margin-top: 20%;">
                        </div>
                        <div class="timing mt-2">&nbsp; 1 Hour</div>
                    </div>
                </div>
                <div class="col-lg-6 col-md-6 col-sm-6 col-6">
                    <img src="assets/images/star.svg">
                    <img src="assets/images/star.svg">
                    <img src="assets/images/star.svg">
                    <img src="assets/images/star.svg">
                    <img src="assets/images/empty-star.svg">
                </div>
            </div>
        </div>
    </div>
</div>
</div>
    </div>
    <div class="container mt-3">
        <div class="row">
          <div class="col-lg-6 col-md-12 col-sm-12">
              <img src="assets/images/chef.svg" class="chef-img">
          </div>
          <div class="col-lg-6 col-md-12 col-sm-12 mt-5">
              <div class="describe-menu mt-5 pt-2">Various Kind of Foods</div>
              <div class="menu-heading mt-3">Various Kind of Food
                and Taste Recipes</div>
              <div class="menu-describtion mt-4">Want to learn cook but confused how to start?<br>No need to worry again!</div> 
              <div class="view-menu-button pt-3 mt-3">View Menu</div> 
        </div>
        </div>
    </div>
    <div class="container mt-3">
        <div id="carouselExampleControlsNoTouching" class="carousel slide" data-bs-touch="false" data-bs-interval="false">
            <div class="carousel-inner">
              <div class="carousel-item active">
                <div class="row">
                    <div class="col-lg-6 col-md-12 col-sm-12 mt-5">
                        <div class="describe-menu mt-5 pt-2">Popular menu</div>
                        <div class="menu-heading mt-3">Garlic Pizza</div>
                        <div class="menu-describtion mt-4">Lorem Ipsum is simply dummy text of the printing and typesetting industry.</div> 
                        <div class="d-flex mt-3">
                           <div><img src="assets/images/clock.svg"></div>
                           <div class="time">30 min</div>
                        </div>
                        <div class="view-menu-button pt-3 mt-4">View Menu</div> 
                  </div>
                  <div class="col-lg-6 col-md-12 col-sm-12">
                    <img src="assets/images/carousal-pizza.svg" class="w-100">
                </div>
                  </div>
              </div>
              <div class="carousel-item">
                <div class="row">
                    <div class="col-lg-6 col-md-12 col-sm-12 mt-5">
                        <div class="describe-menu mt-5 pt-2">Various Kind of Foods</div>
                        <div class="menu-heading mt-3">Various Kind of Food
                          and Taste Recipes</div>
                        <div class="menu-describtion mt-4">Want to learn cook but confused how to start?<br>No need to worry again!</div> 
                        <div class="view-menu-button pt-3 mt-3">View Menu</div> 
                  </div>
                  <div class="col-lg-6 col-md-12 col-sm-12">
                    <img src="assets/images/chef.svg" class="chef-img">
                </div>
                  </div>
              </div>
              <div class="carousel-item">
                <div class="row">
                    <div class="col-lg-6 col-md-12 col-sm-12 mt-5">
                        <div class="describe-menu mt-5 pt-2">Download App</div>
                        <div class="menu-heading mt-3">Download Our App</div>
                        <div class="menu-describtion mt-4">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy</div> 
                        <div class="d-flex mt-4">
                            <div><img src="assets/images/app-store.svg" class="cursor w-100"></div>
                            <div><img src="assets/images/google-play.svg" class="cursor w-100 play-store"></div>
                        </div>
                  </div>
                  <div class="col-lg-6 col-md-12 col-sm-12">
                    <img src="assets/images/menu.svg" class="chef-img">
                </div>
                  </div>
              </div>
            </div>
            <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleControlsNoTouching" data-bs-slide="prev">
              <span class="carousel-control-prev-icon" aria-hidden="true"></span>
              <span class="visually-hidden">Previous</span>
            </button>
            <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleControlsNoTouching" data-bs-slide="next">
              <span class="carousel-control-next-icon" aria-hidden="true"></span>
              <span class="visually-hidden">Next</span>
            </button>
          </div>
    </div>
    <div class="container mt-3">
        <div class="row">
          <div class="col-lg-6 col-md-12 col-sm-12">
              <img src="assets/images/menu.svg" class="chef-img">
          </div>
          <div class="col-lg-6 col-md-12 col-sm-12 mt-5">
              <div class="describe-menu mt-5 pt-2">Download App</div>
              <div class="menu-heading mt-3">Download Our App</div>
              <div class="menu-describtion mt-4">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy</div> 
              <div class="d-flex mt-4">
                  <div><img src="assets/images/app-store.svg" class="cursor w-100"></div>
                  <div><img src="assets/images/google-play.svg" class="cursor w-100 play-store"></div>
              </div>
        </div>
        </div>
    </div>
    <div class="container">
        <div class="row subscribe-box mt-5">
         <div class="subscribe mt-5 pt-5">
            Subscribe to get daily<br>Recipes Updates
         </div>
        <div class="col-lg-3 col-md-3 col-sm-3"></div>
        <div class="col-lg-6 col-md-12 col-sm-12">
            <div class="d-flex" style="position: relative;">
                <input type="text" placeholder="Enter your mail" class="subscribe-input center mt-5">
                <img src="assets/images/mail.svg" class="mail-icon">
                <button class="subscribe-button">Subscribe</button>
                </div>
        </div>
        <div class="col-lg-3 col-md-3 col-sm-3"></div>
        </div>
    </div>
    <div class="container mt-5">
        <div class="row">
            <div class="col-lg-4 col-md-12 col-sm-12">
                <a href="#" style="text-decoration: none;"><div class="title mt-5 center">Test<span style="color: #32B768;">Food</span></div></a>
                <div class="center mt-2">
                    <a href="#"><img src="assets/images/facebook.svg"></a>
                    <a href="#"><img src="assets/images/apple.svg"></a>
                    <a href="#"><img src="assets/images/twitter.svg"></a>
                </div>
            </div>
            <div class="col-lg-2 col-md-6 col-sm-6 col-6">
                <a href="#" style="text-decoration: none;">
                    <div class="footer-heading mt-5">HOME</div>
                </a>
                <a href="#" style="text-decoration: none;">
                    <div class="footer-link mt-3">lorem lorem</div>
                </a>
                <a href="#" style="text-decoration: none;">
                    <div class="footer-link mt-3">lorem lorem</div>
                </a>
                <a href="#" style="text-decoration: none;">
                    <div class="footer-link mt-3">lorem lorem</div>
                </a>
                <a href="#" style="text-decoration: none;">
                    <div class="footer-link mt-3">lorem lorem</div>
                </a>
            </div>
            <div class="col-lg-2 col-md-6 col-sm-6 col-6">
                <a href="#" style="text-decoration: none;">
                    <div class="footer-heading mt-5">RECIPES</div>
                </a>
                <a href="#" style="text-decoration: none;">
                    <div class="footer-link mt-3">lorem lorem</div>
                </a>
                <a href="#" style="text-decoration: none;">
                    <div class="footer-link mt-3">lorem lorem</div>
                </a>
                <a href="#" style="text-decoration: none;">
                    <div class="footer-link mt-3">lorem lorem</div>
                </a>
            </div>
            <div class="col-lg-2 col-md-6 col-sm-6 col-6">
                <a href="#" style="text-decoration: none;">
                    <div class="footer-heading mt-5">ABOUT</div>
                </a>
                <a href="#" style="text-decoration: none;">
                    <div class="footer-link mt-3">lorem lorem</div>
                </a>
                <a href="#" style="text-decoration: none;">
                    <div class="footer-link mt-3">lorem lorem</div>
                </a>
            </div>
            <div class="col-lg-2 col-md-6 col-sm-6 col-6">
                <a href="#" style="text-decoration: none;">
                    <div class="footer-heading mt-5">PRIVACY</div>
                </a>
                <a href="#" style="text-decoration: none;">
                    <div class="footer-link mt-3">lorem lorem</div>
                </a>
                <a href="#" style="text-decoration: none;">
                    <div class="footer-link mt-3">lorem lorem</div>
                </a>
            </div>
        </div>
    </div>
    <div class="container-fluid" style="background: #32B768;">
        <div class="copyrights mt-5 center pt-3 pb-3">Copyright 2022 All Right Recieved </div>
    </div>

</body>
</html>